.songmanager_main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    animation: slide-top 0.5s both;
    .songmanager_container {
        grid-column: 2 / 8;
        background: var(--background-secondary);
        padding: 25px;
        border-radius: 10px;
        .song_outer {
            height: 90px;
            position: relative;
            .badge {
                &_error {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    background: var(--error);
                    top: -12.5px;
                    left: -12.5px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                }
            }
            .song_error {
                border: 1px solid var(--error-opacity);
            }
            .song {
                height: 85px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-block: 13px;
                padding-inline: 20px;
                margin-block: 5px;
                border-radius: 10px;
                background: var(--background-secondary);
                transition: var(--transition-primary);
                & > * {
                    transition: var(--transition-primary);
                }
                &:hover {
                    height: 90px;
                }
                .items {
                    &_left {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .artist {
                            opacity: 0.7;
                        }

                        .song_info {
                            display: flex;
                            flex-direction: column;
                        }
                        .song_img {
                            height: 60px;
                            aspect-ratio: 1;
                            border-radius: 10px;
                        }
                    }
                    &_right {
                        opacity: 0;
                    }
                }
                &:hover {
                    background: var(--background-third);
                    .items_right {
                        opacity: 1;
                    }
                }
            }
        }
        .animate {
            animation: slide-left 0.5s backwards;
        }
        .pagination_buttons {
            margin-top: 15px;
            display: flex;
            align-items: center;
            nav {
                margin: 0 auto;
            }
        }
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
