$primaryDark: #19181e;
$secondaryDark: #2a292e;
$pink: #D11AD6;
$purple: #7728ED;
$blue: #1A39D6;
$gBlue: #4285F4;
$red: #DB4437;
$green: #0F9D58;
$yellow: #F4B400;
$darkBlue: #102f98;
$lightBlue: #3cb5e5;
$lightRed: #FF4545;
$lightGreen: #28ED60;