$primaryDark: #19181e;
$secondaryDark: #2a292e;
$pink: #D11AD6;
$purple: #7728ED;
$blue: #1a73e8;
$gBlue: #2c7bfa;
$red: #DB4437;
$green: #0F9D58;
$yellow: #F4B400;
$lightBlue: #0abcf9;
$lightRed: #FF4545;
$lightGreen: #28ED60;
$black: hsl(0, 0, 5%);
$bgWhite: #fafafa;