$primaryDark: #19181e;
$secondaryDark: #2a292e;
$pink: #D11AD6;
$purple: #7728ED;
$blue: #1A39D6;
$red: #ED2828;
$green: #00A12D;
$darkBlue: #102f98;
$lightBlue: #3cb5e5;
$lightRed: #FF4545;
$lightGreen: #28ED60;