// @use "@react-md/theme/dist/color-palette" as *;
// @forward "react-md/dist/everything" with (
//   $rmd-theme-light: true,
//   $rmd-theme-primary: $rmd-light-blue-a-700,
// );
// @use 'react-md' as *;
// @include react-md-utils;
@import "./reset";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "./colors";

*,
body {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    .App:is(.dark_theme) {
        background: #121212;
    }
}

// .App {
// height: 100vh;
// }

html,
body,
body > #root,
.App {
    height: 100%;
}

.limitWidth {
    height: calc(100% - 100px);
}

.btn-gap {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-red-border {
    p {
        color: $red;
    }
    input {
        border: 0.5px solid $red !important;
    }
}

.input-green-border {
    p {
        color: black;
    }
    input {
        border: 0.5px solid $green !important;
    }
}

// input:focus {
//     outline: none;
//     box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
// }

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    gap: 3px;
    color: $red !important;
    p {
        color: $red !important;
    }
}

.loading {
    span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        border-radius: 5px;
    }
}
