@import './../../colors';
@import './../../vars';

.login {
    height: 100%;
    display: grid;
    align-items: center;
    .login-paper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 15px 25px;
        h4 {
            font-weight: bold;
        }
        .forms {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 25px;
            .message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .items {
                    color: $red;
                    margin-top: 4px;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }
                .meter {
                    position: relative;
                    width: 100%;
                    
                    &[value="1"]::-webkit-meter-optimum-value { background: #DB4437; };
                    &[value="1"]::-moz-meter-bar { background: #DB4437; };
                    
                    &[value="2"]::-webkit-meter-optimum-value { background: #f47200; };
                    &[value="2"]::-moz-meter-bar { background: #f47200; };
                    
                    &[value="3"]::-webkit-meter-optimum-value { background: #F4B400; };
                    &[value="3"]::-moz-meter-bar { background: #F4B400; };
                    
                    &[value="4"]::-webkit-meter-optimum-value { background: #0F9D58; };
                    &[value="4"]::-moz-meter-bar { background: #0F9D58; };
                }
                meter:is(.dark) {
                    &::-webkit-meter-bar {
                        background: #3b3b3b;
                    }
                }
            }
        }
        .buttons {
            width: 100%;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .text-below {
            margin-top: 10px;
        }
    }
}