@import './../../colors';
@import './../../vars';

.header {
    height: 100px;
    width: 100%;
    .header_paper {
        height: 100px;
    }
    img {
        width: 75px;
        height: 75px;
    }
    .inside {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        .profile {
            display: flex;
            align-items: center;
            gap: 10px;
            .username {
                display: flex;
                align-items: center;
                &__nick {
                    font-size: 20px;
                }
            }
        }
        .buttons {
            height: 100%;
            button {
                height: 100%;
                width: 125px;
                background: none;
                border: 0;
                color: white;
                font-size: 22px;
                transition: .3s ease;
                cursor: pointer;
                &:hover {
                    background: $gBlue;
                }
            }
        }
    }
}