@use "@material/theme" with (
    $primary: #4285F4,
    $on-primary: #fff
);
@use "@material/button/styles";
@import './../../colors';
@import './../../vars';

.AccountActivate-content {
    height: calc(100vh - $headerHeight);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .aa-content, .paper {
        position: relative;
        display: flex;
        justify-content: center;
        height: max-content;
        padding-bottom: 50px;
        width: 500px;
        margin: auto;
        border-radius: 5px;
        .paper {
            height: 100%;
        }
        .approved {
            position: relative;
            .approved-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    margin-top: 50px;
                    font-weight: bold;
                }
                h2 {
                    margin-top: 25px;
                    font-size: 1.3rem;
                    color: #0F9D58;
                }
                p {
                    font-size: 1.1rem;
                    margin-top: 10px;
                }
                .approved-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    margin-top: 150px;
                    a {
                        text-decoration: none;
                    }
                    .btn-gap {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                }
            }
        }
        .denied {
            .denied-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    margin-top: 50px;
                    font-weight: bold;
                }
                h5 {
                    margin-block: 10px;
                    font-size: 1.3rem;
                    color: #DB4437;
                }
                .denied-info {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 400px;
                    h6 {
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                }
                .denied-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    margin-top: 50px;
                    a {
                        text-decoration: none;
                    }
                    .btn-gap {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                    }
                }
            }
            .denied-box {
                cursor: default;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;
                margin-top: 50px;
                .not-selectable {
                    user-select: none;
                }
                .tooltip {
                    position: relative;
                    user-select: none;
                    display: inline-block;
                    border-bottom: 1px dotted black;
                    margin-top: 2px;
                    cursor: help;
                }
                
                .tooltip .tooltiptext {
                    user-select: none;
                    visibility: hidden;
                    width: 225px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    top: 150%;
                    left: 50%;
                    margin-left: -40%;
                }
                
                .tooltip .tooltiptext::after {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }
                
                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }
            }
        }
    }
}