@import './../../colors';

.main {
    position: relative;
    height: 100%;
    width: 100% !important;
    max-width: 1800px !important;
    display: grid;
    align-items: center;
    .alert {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .forgotPassword {
        .forgot-paper {
            position: relative;
            height: max-content;
            padding: 30px 25px;
            h5 {
                font-size: 26px;
                font-weight: bold;
            }
            h6 {
                font-size: 18px;
                font-weight: normal;
            }
            .items {
                color: $red;
                margin-top: 4px;
                display: flex;
                align-items: center;
                align-self: flex-start;
                gap: 3px;
            }
            .center_form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .email_container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
                width: 80%;
                margin-top: 25px;
            }
            .bottom_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                width: 80%;
                margin-top: 40px;
                opacity: .8;
                user-select: none;
                text-align: center;
                span {
                    color: $gBlue;
                }
                h6 {
                    font-size: 18px;
                    font-weight: 550;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .password_reset {
                .limit_width {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    width: 80%;
                    margin-top: 40px;
    
    
                    .meter {
                        position: relative;
                        width: 100%;
                        
                        &[value="1"]::-webkit-meter-optimum-value { background: #DB4437; };
                        &[value="1"]::-moz-meter-bar { background: #DB4437; };
                        
                        &[value="2"]::-webkit-meter-optimum-value { background: #f47200; };
                        &[value="2"]::-moz-meter-bar { background: #f47200; };
                        
                        &[value="3"]::-webkit-meter-optimum-value { background: #F4B400; };
                        &[value="3"]::-moz-meter-bar { background: #F4B400; };
                        
                        &[value="4"]::-webkit-meter-optimum-value { background: #0F9D58; };
                        &[value="4"]::-moz-meter-bar { background: #0F9D58; };
                    }
                    meter:is(.dark) {
                        &::-webkit-meter-bar {
                            background: #3b3b3b;
                        }
                    }
                }
            }
        }
    }
}