@use 'react-md/dist/everything' as *;
@import './../../colors';
@import './../../vars';

.ForgotPassword-content {
    user-select: none;
    height: calc(100vh - $headerHeight);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .forgotpassword-inside {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 530px;
        height: 430px;
        background: $bgWhite;
        border-radius: 5px;
        @include rmd-elevation(18);
        // box-shadow: 0px 0px 21px -6px black;
        padding: 30px;
        .forgotpassword {
            &--loading {
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                }
            }
            &--title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                h1 {
                    font-size: 1.9rem;
                    font-weight: bold;
                }
                h2 {
                    margin-top: 0.7rem;
                    font-size: 1.2rem;
                    opacity: .7;
                }
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 25px;
                    .error {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 3px;
                        color: $red;
                    }
                    .password {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        input {
                            width: 250px;
                        }
                        .tips {
                            z-index: 9998;
                            width: 30ch;
                            background-color: black;
                            color: #fff;
                            text-align: center;
                            border-radius: 6px;
                            padding: 10px;
                            position: absolute;
                            z-index: 1;
                            left: 80%;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 100%;
                                margin-top: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: transparent black transparent transparent;
                            }
                            .warning {
                                font-weight: bold;
                                color: #DB4437;
                                opacity: .95;
                                margin-top: 0;
                            }
                            .suggestion {
                                color: white;
                                opacity: .8;
                            }
                        }
                    }
                }
                .error {
                    margin-top: 15px;
                    margin-bottom: -15px;
                }
                .warning {
                    margin-top: 25px;
                    h2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        color: $red;
                    }
                    p {
                        margin-top: 5px;
                        opacity: .8;
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    h2 {
                        margin-top: 6px;
                    }
                    p {
                        margin-top: 15px;
                        color: $red;
                        font-size: 1.35rem;
                        font-weight: 500;
                        opacity: .9;
                    }
                }
                .details {
                    margin-top: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    a { text-decoration: none; }
                    h3 {
                        font-size: 1.5rem;
                        font-weight: bold;
                        opacity: .8;
                    }
                    p {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-top: 5px;
                        opacity: .8;
                        span {
                            padding: 5px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 3px;
                            color: $blue;
                            transition: .2s ease;
                            border-radius: 5px;
                            &:hover {
                                background: rgba(26, 115, 232, 0.075);
                            }
                        }
                    }
                }
            }
            &--credentials {
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                input {
                    width: 300px;
                }
                .btn {
                    display: flex;
                    align-self: flex-end;
                    margin-top: 15px;
                }
                .error {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    color: $red;
                    margin-top: 5px;
                    font-size: 0.95rem;
                }
            }
            &--info {
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1 {
                    font-size: 1.2rem;
                    color: black;
                    opacity: .7;
                    font-weight: 600;
                    span {
                        color: rgba(26, 115, 232, 1);
                        opacity: 1;
                    }
                }
                p {
                    margin-top: 3px;
                    text-align: center;
                    opacity: .7;
                }
            }
        }
    }
    .forgotpassword-loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 530px;
        height: 430px;
        padding: 30px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 0px 21px -6px black;
        h4 {
            opacity: .8;
        }
    }
}

@media screen and (max-width: 900px) {
    .ForgotPassword-content {
        .forgotpassword-inside {
            .forgotpassword {
                &--title {  
                    .form {
                        .password {
                            position: relative;
                            .tips {
                                width: 100%;
                                background-color: black;
                                color: #fff;
                                text-align: center;
                                border-radius: 6px;
                                padding: 10px;
                                position: absolute;
                                z-index: 9999;
                                top: 107.5%;
                                left: 50%;
                                margin-left: -50%;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    top: unset;
                                    bottom: 100%;
                                    left: 50%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent transparent black transparent;
                                }
                                .warning {
                                    font-weight: bold;
                                    color: #DB4437;
                                    opacity: .95;
                                    margin-top: 0;
                                }
                                .suggestion {
                                    color: white;
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}